$theme1bg: #3B4664;
$theme1SelectionsBg: white;
$theme1numbers: #eae3db;
$theme1numbersBorder: lighten(gray, 15);
$theme1numbersHover: #ffffff;
$theme1numberstext: lighten(#1c1c33, 5);
$theme1textcolor: white;
$theme1deleteBtn: #64749a;
$theme1deleteBtnBorder: darken($theme1deleteBtn, 10);
$theme1deleteBtnHover: #a2b3e1;
$theme1equalsBtn: #d13f30;
$theme1equalsBtnBorder: darken($theme1equalsBtn, 10);
$theme1equalsBtnHover: #f96c5b;
$theme1calcsection: #252d44;
$theme1inputsection: #181f32;

$theme2bg: #e6e6e6;
$theme2SelectionsBg: #d3cdcd;
$theme2numbers: #E5E4E0;
$theme2numbersBorder: #a79f94;
$theme2numbersHover: #ffffff;
$theme2numberstext: #34342c;
$theme2textcolor: #4e4f4a;
$theme2deleteBtn: #388186;
$theme2deleteBtnBorder: darken($theme2deleteBtn, 10);
$theme2deleteBtnHover: #63b4bf;
$theme2equalsBtn: #C75402;
$theme2equalsBtnBorder: darken($theme2equalsBtn, 10);
$theme2equalsBtnHover: #ff8a38;
$theme2calcsection: #D3CDCD;
$theme2inputsection: #eeeeee;


$theme3bg: #17062a;
$theme3SelectionsBg: #1e0836;
$theme3numbers: #331b4d;
$theme3numbersBorder: #86209d;
$theme3numbersHover: #6b34ac;
$theme3numberstext: #ffe53c;
$theme3textcolor: #ffe53c;
$theme3deleteBtn: #56077c; 
$theme3deleteBtnBorder: #bf16f6;
$theme3deleteBtnHover: #8631b0;
$theme3equalsBtn: #00decf;
$theme3equalsBtnBorder: #6bfef4;
$theme3equalsBtnHover: #93fef9;
$theme3calcsection: #1f0836;
$theme3inputsection: #1e0836;